__Read data on the number of vaccinations given in Canada.  Produces csv file that gives the cumulative number for each province.__

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://health-infobase.canada.ca/src/data/covidLive/vaccination-administration.csv")

In [3]:
df.head()

,pruid,prename,report_date,numtotal_all_administered,numtotal_pfizerbiontech_administered,numtotal_moderna_administered,numtotal_unknown,as_of_date,updated
0,1,Canada,2021-01-12,267078,NaN,NaN,NaN,2021-01-12,1
1,35,Ontario,2021-01-12,122105,NaN,NaN,NaN,2021-01-10,1
2,59,British Columbia,2021-01-12,59902,NaN,NaN,NaN,2021-01-11,1
3,48,Alberta,2021-01-12,46791,NaN,NaN,NaN,2021-01-10,1
4,47,Saskatchewan,2021-01-12,8948,NaN,NaN,NaN,2021-01-11,1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 532 entries, 0 to 531
Data columns (total 9 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   pruid                                 532 non-null    int64
 1   prename                               532 non-null    object
 2   report_date                           532 non-null    object
 3   numtotal_all_administered             532 non-null    int64
 4   numtotal_pfizerbiontech_administered  81 non-null     object
 5   numtotal_moderna_administered         76 non-null     float64
 6   numtotal_unknown                      32 non-null     float64
 7   as_of_date                            532 non-null    datetime64[ns]
 8   updated                               532 non-null    int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(3)
memory usage: 37.5+ KB

In [10]:
df["as_of_date"] = pd.to_datetime(df["as_of_date"])
df["report_date"] = pd.to_datetime(df["report_date"])

In [7]:
on_mask = df["prename"] == "Ontario"

In [12]:
#df.loc[on_mask]

In [32]:
latest_data = df.groupby("prename").max("numtotal_all_administered")

In [33]:
latest_data.columns

Index(['pruid', 'numtotal_all_administered', 'numtotal_moderna_administered',
       'numtotal_unknown', 'updated'],
      dtype='object')

In [34]:
latest_data.drop(columns=["pruid","numtotal_moderna_administered","numtotal_unknown","updated"], inplace=True)

In [35]:
latest_data.index.name = "province"

In [44]:
latest_data.rename(columns={"numtotal_all_administered":"total vaccinations administered to date"}, inplace=True)

In [45]:
latest_data

                           total vaccinations administered to date
province
Alberta                                                     266231
British Columbia                                            298851
Canada                                                     2205303
Manitoba                                                     82579
New Brunswick                                                33741
Newfoundland and Labrador                                    24757
Northwest Territories                                        19775
Nova Scotia                                                  37590
Nunavut                                                      13753
Ontario                                                     820714
Prince Edward Island                                         13281
Quebec                                                      490504
Saskatchewan                                                 84090
Yukon                                                        19437

In [46]:
file_and_path = "../data/cleaned_total_vaccinations_to_date_by_province.csv"
latest_data.to_csv(file_and_path)